<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
<object th:include="fragments/head :: head" th:remove="tag"></object>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<!-- Header -->
		<object th:replace="fragments/header :: header"></object>

		<!-- Sidebar menu -->
		<object th:replace="fragments/menu :: menu"></object>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small>Version 2.0</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content">
				<div layout:fragment="content"></div>
			</section>

		</div>

		<!-- Footer -->		
		<object th:replace="fragments/footer :: footer"></object>
		
		<!-- Control sidebar -->
		<object th:replace="fragments/control-sidebar :: control-sidebar"></object>
	</div>

	<!-- Scripts -->
	<object th:include="fragments/scripts :: scripts" th:remove="tag"></object>

</body>
</html>