<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/dashboard">
<!--/*@thymesVar id="users" type="java.util.List<de.nava.demo.domain.User>"*/-->
<head>
	<title layout:fragment="title">Lynx :: Kullanıcı Yönetimi</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>List of Users</h1>
		<table>
			<thead>
				<tr>
					<th>E-mail</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Phone</th>
					<th>Title</th>
					<th>Role</th>
					<th>Privileges</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td><a th:href="${'/user/' + user.id}" th:text="${user.email}"></a></td>
					<td th:text="${user.firstName}"></td>
					<td th:text="${user.lastName}"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${user.title}"></td>
					<td th:text="${user.role}"></td>
					<td th:text="${user.privileges}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
