<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar" th:fragment="menu">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" th:placeholder="#{search.placeholder}" />
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Menü</li>

        <li class="active"><a th:href="@{/home}"><i class="fa fa-dashboard"></i> <span>Yönetim Paneli</span></a></li>
        <li><a th:href="@{/networkinventory/list}"><i class="fa fa-cloud"></i> <span>Ağ Envanteri</span></a></li>
        <li><a th:href="@{/task/execute}"><i class="fa fa-terminal"></i> <span>Görev Çalıştır</span></a></li>
        <li><a th:href="@{/task/list}"><i class="fa fa-tasks"></i> <span>Çalıştırılan Görevler</span></a></li>
        <li><a th:href="@{/taskresult/list}"><i class="fa fa-info"></i> <span>Sonuçlar</span></a></li>
        <li><a th:href="@{/report/list}"><i class="fa fa-line-chart"></i> <span>Raporlar</span></a></li>
        
        <!-- Only for Admin! -->
        <li class="treeview">
          <a href="#"><i class="fa fa-server"></i> <span>Sistem Yönetimi</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sysupdate/list}">Sistem Güncelleme</a></li>
            <li><a th:href="@{/sysbackup/list}">Sistem Yedekleme</a></li>
            <li><a th:href="@{/sysconfig/list}">Yapılandırma Ayarları</a></li>
            <li><a th:href="@{/integration/list}">Entegrasyon</a></li>
          </ul>
        </li>
        <li><a th:href="@{/user/list}"><i class="fa fa-users"></i> <span>Kullanıcı Yönetimi</span></a></li>
        <!--  -->
        
        <li><a th:href="@{/help}"><i class="fa fa-question"></i> <span>Yardım</span></a></li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</body>
</html>